  .avatar {
    border-radius: 50%;
    cursor: pointer;
    &Fake { 
      display: flex;
      justify-content: center;
      align-items: center;
      color: #2b2a2c;
      background-color: #bcbcbc;
      font-size: 24px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      font-weight: 600;
      & span {
        text-transform: uppercase;
        margin-bottom: 2px;
      }
  }
  
}
  .size {
    width: 36px;
    height: 36px;
    &Md {
      width: 40px;
      height: 40px;
    }
  }