@import '/styles/_variables.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $clr-bg-secondary;
  padding-bottom: 24px;
  & > svg {
    margin-left: 12px;
    cursor: pointer;
  }
}

.title {
  font-weight: 500;
  line-height: 1.235;
  font-size: 2rem;
  margin-bottom: 9px;
}

.tabs {
  margin-top: 2px;
  margin-bottom: 8px;

  &Bookmarks {
    margin-top: 0;
    display: flex;
    justify-content: center;
    background: $clr-bg-secondary;
    border-bottom: $line-divider;

    & > button {
      padding-bottom: 0;
    }
  }
}

.mangaList {
  padding: 4px;
  width: calc(100% + 16px);
  margin: -8px;
  flex: 1 1 20%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  &Wrapper {
    margin: 8px 14px;
  }
}

.filter {
  margin: 4px 0px 12px;
  display: flex;
  min-height: 40px;
  justify-content: space-between;
  &Btn {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 8px;
    margin-left: 8px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.15s linear;

    &:hover {
      background-color: $btn-hover;
    }

    &:disabled {
      color: rgba(100, 100, 100, 0.4) !important;
      border-color: rgba(100, 100, 100, 0.4) !important;
      & > svg {
        fill: rgba(100, 100, 100, 0.4);
      }
    }

    &Edit {
      border: 1px solid rgba($clr-blue, 0.4);

      &:hover {
        border-color: $clr-blue;
        background-color: transparent;
      }
    }
  }
}

.editor {
  &Wrapper {
    display: flex;
    padding: 8px;
    flex-wrap: wrap;
    margin-bottom: 8px;
    justify-content: center;
  }
  &Btn {
    display: flex;
    padding: 6px;
    border: none;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 0.8125rem;
    color: $clr-text-light;
    cursor: pointer;
    transition: all 0.15s ease;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    will-change: box-shadow, transform;
    touch-action: manipulation;
    border-radius: 0.285rem;
    text-transform: uppercase;
    background-color: transparent;
    &:hover {
      background-color: $btn-hover;
    }

    &:disabled {
      cursor: default;
      color: rgba(100, 100, 100, 0.4);
      pointer-events: none;
      user-select: none;
      & > svg {
        fill: rgba(100, 100, 100, 0.4);
      }
    }
  }
}
