@import '/styles/_variables.scss';

.avatar {
  border-radius: 50%;
  cursor: pointer;
  &Fake {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clr-text-dark;
    background-color: $clr-bg-avatar;
    font-size: 24px;
    border: $border;
    font-weight: 600;
    & span {
      text-transform: uppercase;
      margin-bottom: 2px;
    }
  }
}
.size {
  width: 36px;
  height: 36px;
  &Md {
    width: 40px;
    height: 40px;
  }
}
