@import '/styles/_variables.scss';


.chapter {
  &Container {
    margin-top: 4px;
  }
}

.btn {
  margin: 12px 8px;
  padding: 3px 9px;
  font-size: 13px;
  border: $border-grey;
  color: $clr-text-light;
  transition: all .15s ease;
  line-height: 1.5;
  border-radius: 4px;
  background: $clr-bg-primary;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: $btn-hover;
  }
}