.dashboard {
  padding-bottom: 64px;
}

.left {
  flex-grow: 0;
  max-width: 66.666667%;
  flex-basis: 66.666667%;
  padding: 4px;
}

.right {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.33333%;
  padding: 4px;
}

.title {
  font-size: 24px;
  padding: 20px 12px 8px;
  margin-bottom: 8px;
  padding-bottom: 4px;
  font-weight: 600;
}
