@import '/styles/_variables.scss';

.cart {
  display: flex;
  background: $clr-bg-secondary;
  margin: 6px 0;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;

  &Fresh {
    display: flex;
    align-items: normal;
    margin: 0;
    padding: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    margin-bottom: 3px;

    &Right {
      margin-left: 12px;
    }
  }
}

.img {
  width: 64px;
  height: 96px;
  border-radius: 6px;
}

.title {
  font-size: 16px;
  margin: 3px 0 2px;
  font-weight: 600;
  line-height: 1.3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  &Fresh {
    font-size: 17px;
    margin: 8px 8px 4px 0;


  }
}

.chapter {
  display: flex;
  font-weight: 500;
  margin: 3px 0 2px;
  font-size: 14px;
  margin-right: 6px;
  color: rgba(255, 255, 255, 0.78);
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  &Fresh {
    color: white;
    margin: 0 6px 4px 0;
    font-size: 16px;
  }
}

.small {
  font-size: 13px;
  color: rgba(140, 140, 140, 7);
}

.wrapper {
  margin: 4px 8px 4px 16px;
}