@import '/styles/_variables.scss';

.top {
  padding: 2px 0;
}

.bottom {
  display: block;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
}

.titleContainter {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.svgContainer {
  display: flex;
  align-items: center;
  position: absolute;
}

.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  max-width: 80px;
  min-width: 65px;
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding: 8px;
  display: block;
  font-size: 10px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover;
  }
}

.form {
  padding: 8px 16px 24px;
  text-align: center;
}

.withSvg {
  display: flex;
  position: relative;
  align-items: center;

  &Pass {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 18.5px 14px;
    margin-top: 16px;
    margin-bottom: 8px;
    position: absolute;
    right: 15px;
  }
  &Input {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 18.5px 0;

    margin-top: 16px;
    margin-bottom: 8px;
    position: absolute;
    left: 15px;
  }
}

.input {
  color: $clr-text-light;
  width: 100%;
  display: flex;
  font-size: 15px;
  padding: 18.5px 14px;
  margin-top: 16px;
  margin-bottom: 8px;
  border: 1px solid transparent;
  background-color: rgba(120, 120, 120, 0.05);
  border-radius: 4px;

  &:hover {
    border-color: rgba($clr-blue, 0.5);
  }
  &:focus {
    outline: none;
    border-color: $clr-blue;
  }
  &Pass {
    padding-right: 70px;
  }
  &Svg {
    padding-left: 47px;
  }
  &Register {
    padding-right: 70px;
    padding-left: 47px;
  }
  &Error {
    border-color: $clr-error !important;
  }
}

.links {
  text-align: center;
  font-size: 14px;
  color: $clr-text-light;
  margin: 4px 0;

  & span {
    cursor: pointer;
    &:hover {
      color: #cacaca;
    }
  }
}

.info {
  margin: 4px 0;
  padding: 0 15px;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;

  &Register {
    margin-top: 16px;
  }
}

.link {
  cursor: pointer;
  color: $clr-blue;
}
.errorAlert {
  border-radius: 4px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: rgba(120, 120, 120, 0.05);
  display: flex;
  padding: 6px 16px;
  color: rgb(244, 199, 199);
  align-items: center;
  margin: 16px 0;

  & svg {
    margin-right: 12px;
  }
}

.errorMsg {
  position: absolute;
  color: $clr-error;
  background-color: $clr-bg-secondary;
  background: linear-gradient(0deg, #1c1c1c 50%, #171717 50%);
  left: 10px;
  top: 5px;
  z-index: 2;
  &::first-letter {
    text-transform: uppercase;
  }
}
