.btn {
  color: rgb(78, 107, 175);
  padding: 8px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    color: rgba(78, 107, 175, 0.8);
  }
  &Comment {
    font-size: 16px;
    padding: 0;
    text-transform: lowercase;
    &:hover{
      text-decoration: underline;
    }
  }
}
