@import '/styles/_variables.scss';

.pagination {
  margin: 24px 16px 16px !important;
  display: flex;
  list-style: none;
  padding-left: 0;
  border-radius: 0.25rem;

  &Btn {
    cursor: pointer;
    margin: 0 3px;
    font-size: 16px;
    transition: all 0.3s;
    border: 1px solid rgba(140, 140, 140, 0.15);
    border-radius: 4px;

    &Disabled {
      display: none;
    }

    &Link {
      padding: 3px 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 32px;
      min-height: 32px;
    }

    &:hover {
      background-color: $btn-hover;
    }
  }

  &Item {
    cursor: pointer;
    margin: 0 3px !important;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;

    &Link {
      align-items: center;
      justify-content: center;
      display: flex;
      min-width: 32px;
      min-height: 32px;
    }

    &Active {
      background-color: $clr-blue;
      &:hover {
        background-color: $clr-blue-dark !important;
      }
    }
    &:hover {
      background-color: $btn-hover;
    }
  }

  &Break {
    margin: 0 3px;
    padding: 4px 5px;
    cursor: default;
    pointer-events: none;
    font-size: 16px;
    min-width: 32px;
    min-height: 32px;
    color: rgba(100, 100, 100, 0.4);
  }
}
