@import '/styles/_variables.scss';

.input {
  background-color: transparent;
  outline: none;
  border: 1px solid rgba($clr-blue, 0.6);
  color: $clr-text-light;
  border-radius: 4px;
  padding: 8px;

  &:first-of-type {
    margin-right: 16px;
  }

  &Wrapper {
    display: flex;
    flex-direction: column;
  }

  &:disabled {
    border-color: $clr-grey;
    cursor: not-allowed;
  }
}

.label {
  margin: 6px 0;
}

.info {
  font-size: 12px;
  color: $clr-grey-light;
  margin-left: 14px;
  margin-top: 2px;
}

.img {
  position: relative !important;
  height: unset !important;

  &Container {
    width: 300px;

    margin-left: auto;
    margin-right: auto;



    &>span>span {
      padding: 0 !important;
    }
  }
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;

  &>p {
    margin-left: 2px;
  }
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}