$clr-grey: #8c8c8c;
$clr-grey-light: #83848f;
$clr-text: #fff;
$clr-text-dark: #2b2a2c;
$clr-text-light: #f2f2f2;
$clr-blue: #4e6baf;
$clr-blue-dark: #303f9f;
$clr-error: #f44336;
$clr-red: #f50057;
$clr-yellow: #ffb400;

$clr-disabled: #7a7d85;

$clr-bg-light: #fff;
$clr-bg-primary: #121212;
$clr-bg-secondary: #171717;
$clr-user-bg: #222223;
$clr-scroll: #8c8c8c;
$clr-border-light: #fff;
$clr-bg-avatar: #bcbcbc;

$btn-hover: rgba($clr-grey, 0.1);
$txt-popup: rgba($clr-text, 0.78);

$border: 1px solid rgba(255, 255, 255, 0.1);
$border-grey: 1px solid rgba($clr-grey, 0.25);
$line-divider: 1px solid rgba(255, 255, 255, 0.06);