@import '/styles/_variables.scss';

.header {
  padding: 14px 2px;
  background: $clr-bg-secondary;

  &Tr {
    background: transparent;
  }

  &Chapter {
    background-color: rgba(23, 23, 23, .95);
    padding: 3px 2px;
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: $border-grey;
    transition: all .2s linear;

    &Hide {
      top: -55px;
    }

    &Show {
      top: 0;
    }
  }

}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  color: inherit;
  text-decoration: none;
  margin-left: 1px;
  font-size: 1.125em;
  min-width: 44px;
  min-height: 44px;
  border: 0;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: all 150ms linear;


  &:hover {
    background-color: rgba(140, 140, 140, 0.1);
  }

  &Text {
    padding: 10px 12.4px;
  }

  &Chapter {
    padding: 6px 8px;
    min-height: 0;
  }

  &Logo {
    margin-right: 9px;
  }

  &Themes {
    margin: 0 4px;
  }
}

.divider {
  color: inherit;
  margin: 0 4px;
}

.notificationSpan {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
  background-color: $clr-blue;
  height: 20px;
  min-width: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 6px;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}

.relative {
  position: relative;
}