@import '/styles/_variables.scss';

.card {
  padding: 16px 6px;
  width: 157px;

  &Small {
    width: 147px;
  }
  &Catalog {
    padding: 8px;
    width: 174px;
  }
}
.list {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}

.top {
  display: block;
  position: relative;
  margin-bottom: 8px;
}

.img {
  border-radius: 8px;

  &Container {
    height: 235px;
    width: 157px;
    position: relative;
  }
}

.editing {
  cursor: pointer;
}

.status {
  position: absolute;
  top: 4px;
  left: 4px;
  color: white;
  padding: 4px 6px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  border-radius: 4px;
  text-align: left;
}

.rating {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 36px;
  height: 36px;
  font-size: 18px;
  font-weight: 600;
  background: rgba(255, 152, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 4px;
  text-align: left;
}

.likes {
  position: absolute;
  height: 32px;
  left: 4px;
  bottom: 4px;
  padding: 0 8px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 4px #000;
  text-align: left;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.likesCount {
  margin-left: 8px;
  font-weight: 600;
}

.title {
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
  text-align: left;
  line-height: 17px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.genre {
  text-align: left;
  color: $clr-grey-light;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  margin: 4px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.disabledLink {
  pointer-events: none;
}

.selected {
  top: 4px;
  left: 4px;
  padding: 2px 6px;
  overflow: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  margin-right: 8px;
  border-radius: 4px;
}
